/* .about-card {
    height: 50rem;
  } */
  
.about-cards {
    height: 70rem;
  }
  
.socials-about {
    text-align: center;
  }
  
.social-icons-team {
    height: 30px;
    width: 30px;
  }
  
.social-icons-insta {
    height: 25px;
    width: 25px;
  }

.team {
  margin: 2rem;
}

.team-card {
  height: 55rem;
}




